<body>
  {{#each posts as |post|}}
  <article class="posts">
    <div class="post-body">
      <header>
        <h2>{{title}}</h2>
      </header>
      <section>
        <p>{{body}}</p>
      </section>
      <form class="add-new-comment">
        <div>
          <label for="new-comment"></label>
          <input class="new-comment" type="text" id="new-comment">
        </div>
        <div>
          <button class="add-comment-btn" id="add-comment-btn" data-post-id="{{id}}">Add Comment</button>
        </div>
      </form>
    </div>

    <div class="comment-section" data-post-id="{{id}}">
      {{#each comments as |comment|}}
      <div class="comment">
        <p>Comment by: {{user_id.username}}</p>
        <p>{{text}}</p>
      </div>
      {{/each}}
    </div>
  </article>
  {{/each}}
</body>

<!-- JavaScript -->
<script src="./js/homepage.js"></script>